.hide {
  display: none;
}

.expanded {
  background: rgb(13 110 253 / 0.12);
  color: #008cff;
}
.expanded:hover {
  background: rgb(13 110 253 / 0.12);
  color: #008cff;
}

.item:hover {
  background: rgb(13 110 253 / 0.12);
  color: #008cff;
}
