@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-custom-react {
  @include ag-theme-alpine(
    (
      odd-row-background-color: #f5f5f5,
      row-border-color: transparent,
      row-hover-color: null,
      checkbox-checked-color: #2661ad,
      range-selection-border-color: #ff00b1,
      range-selection-background-color: #03305633,
      alpine-active-color: deeppink,
    )
  );

  .ag-menu-option-active {
    background-color: #2661ad;
    color: white;
  }

  .ag-header {
    background: linear-gradient(94.43deg, #54e6d8 -14.68%, #3e4095 87%), #d9d9d9;
    color: white;
  }
}
